<html>

<head>
	<title>Baala Srinivas</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--scripts-->
	<!--JQuery-->
	<script src="Dependent Scripts/Jquery/jquery.min.js"></script>
	<!--Bootstrap-->
	<link rel="stylesheet" href="Dependent Scripts/Bootstrap/bootstrap.css">
	<script src="Dependent Scripts/Bootstrap/bootstrap.min.js"></script>
	<!--Angular-->
	<script src="Dependent Scripts/Angular/angular.js"></script>
	<script src="Dependent Scripts/Angular/controller.js"></script>


</head>



<body class="container-fluid" ng-app="application" data-spy="scroll" data-target=".navbar" data-offset="100" style="position:relative;">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>                        
      		</button>
			<a class="navbar-brand" href="#">Baala Srinivas</a>
		</div>
		<div class="navbar-collapse collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="#home">Home</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#experience">Experience</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</nav>
	<div style="height:50%">
		<div id="MyImageSlide" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#MyImageSlide" data-slide-to="0" class="active"></li>
				<li data-target="#MyImageSlide" data-slide-to="1"></li>
				<li data-target="#MyImageSlide" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="Images/Slide1.jpg" / style="height:100%;width:100%">
				</div>
				<div class="item">
					<img src="Images/Slide2.jpg" style="height:100%;width:100%" />
				</div>
				<div class="item">
					<img src="Images/Slide3.jpg" style="height:100%;width:100%" />
				</div>
			</div>
		</div>
	</div>
	<div id="home" style="height: 100%;padding-top:50px;background-image: url('Images/backgroundimage13.jpg');">
		<!-- <div class="col-md-2" ng-repeat="data in ImageObjectList">
			<img ng-src="data:image/png;base64,{{data.Image}}" style="width:100px;float:left;animation: rotateAnimation 10s;" />
		</div> -->
	</div>
	<div ng-controller="SkillsController" id="skills" style="height: 100%;padding-top:50px;">
		<div class="row" style="vertical-align: middle;">
			<div class="panel-heading">Front End</div>
			<div ng-repeat="image in ImageObjectList" ng-if="image.Type == 'frontend'" class="col-md-2">
				<img ng-src="data:image/png;base64,{{image.Image}}" style="width:100px;float:left;animation: rotateAnimation 5s;animation-delay:0s;"
				/>
			</div>
		</div>

		<div class="row" style="vertical-align: middle;">
			<div class="panel-heading">Programming Language</div>
			<div ng-repeat="image in ImageObjectList" ng-if="image.Type == 'programminglanguage'" class="col-md-2">
				<img ng-src="data:image/png;base64,{{image.Image}}" style="width:100px;float:left;animation: rotateAnimation 5s;animation-delay:0s;"
				/>
			</div>
		</div>

		<div class="row" style="vertical-align: middle;">
			<div class="panel-heading">Cloud Technologies</div>
			<div ng-repeat="image in ImageObjectList" ng-if="image.Type == 'cloudtechnology'" class="col-md-2">
				<img ng-src="data:image/png;base64,{{image.Image}}" style="width:100px;float:left;animation: rotateAnimation 5s;animation-delay:0s;"
				/>
			</div>
		</div>

		<div class="row" style="vertical-align: middle;">
			<div class="panel-heading">Tools</div>
			<div ng-repeat="image in ImageObjectList" ng-if="image.Type == 'tool'" class="col-md-2">
				<img ng-src="data:image/png;base64,{{image.Image}}" style="width:100px;float:left;animation: rotateAnimation 5s;animation-delay:0s;"
				/>
			</div>
		</div>

		<div class="row" style="vertical-align: middle;">
			<div class="panel-heading">Databases</div>
			<div ng-repeat="image in ImageObjectList" ng-if="image.Type == 'database'" class="col-md-2">
				<img ng-src="data:image/png;base64,{{image.Image}}" style="width:100px;float:left;animation: rotateAnimation 5s;animation-delay:0s;"
				/>
			</div>
		</div>

		<div class="row" style="vertical-align: middle;">
			<div class="panel-heading">Version Control</div>
			<div ng-repeat="image in ImageObjectList" ng-if="image.Type == 'versioncontrol'" class="col-md-2">
				<img ng-src="data:image/png;base64,{{image.Image}}" style="width:100px;float:left;animation: rotateAnimation 5s;animation-delay:0s;"
				/>
			</div>
		</div>

	</div>
	<div class="row"></div>
	<div id="experience" style="height: 100%;padding-top:50px;">
		Experience div
	</div>
	<div id="contact" style="height: 100%;padding-top:50px;">
		<input type="file" id="imageTest" />
		<button id="submit" value="Submit" name="submit" type="button" />
	</div>
</body>

<style>
	@keyframes rotateAnimation {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(360deg);
		}
	}
</style>

<script>
	$("#submit").click(function () {
		var formdata = new FormData();
		formdata.append("image", $("#imageTest")[0].files[0]);
		formdata.append("name", "BaalaImageTest");
		formdata.append("enabled", true);
		formdata.append("imageUrl", "");
		var obj = {
			name: "TestName",
			image: $("#imageTest")[0].files[0],
			enabled: "true",
			id: "test"
		};
		$.ajax({
			url: "http://localhost:59917/siteapi/PhotoGallery/PutImage",
			type: "POST",
			contentType: false,
			processData: false,
			data: formdata
		});
	});

</script>

</html>