<!DOCTYPE html>
<html style="height:100%">

<head>
	<title>Baala Srinivas - Home Page</title>
	<meta name="description" content="Experienced engineer with a demonstrated history of working in the information technology and services industry. Skilled in ASP.NET AJAX, Java, AngularJS, and ASP.NET MVC. Strong engineering professional with a Bachelor's degree focused in Computer Engineering">
	<meta name="keywords" content="Baala Srinivas K, baala srinivas, baala srinivas home page, K Baala Srinivas">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--scripts-->
	<!--JQuery-->
	<script src="Dependent Scripts/Jquery/jquery.min.js"></script>
	<!--Bootstrap-->
	<link rel="stylesheet" href="Dependent Scripts/Bootstrap/bootstrap.min.css">
	<script src="Dependent Scripts/Bootstrap/bootstrap.min.js"></script>
	<!--Angular-->
 	<script src="Dependent Scripts/Angular/angular.js"></script>
	<script src="Dependent Scripts/Angular/controller.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Lovers+Quarrel" rel="stylesheet">

</head>

<body id="body" class="container-fluid" ng-app="application" data-spy="scroll" data-target=".navbar" data-offset="100" style="overflow-x:hidden;padding-left: 0px;padding-right: 0px;margin-left: 0;margin-right: 0;height:100%">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>                        
      		</button>
				<a class="navbar-brand" href="#home">Baala Srinivas</a>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#home">Home</a></li>
					<li><a href="#skills">Skills</a></li>
					<li><a href="#experience">Experience</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="home" style="height:100%;padding-top:50px;background-image: url('Images/backgroundimage28.jpg');background-size: cover;">

		<div class="container text-center" style="padding-top: 5%">
			<div class="col-md-12 welcometextfont">Hello World...</div>
			<!-- <div class="col-md-4 col-xs-3"></div><img class="col-md-3 col-xs-6" src="images/baala.png"/><div class="col-md-4 col-xs-3"></div> -->
			<div class="col-md-12 col-xs-12 namefont">I'm Baala Srinivas</div>
			<img class="col-md-12 col-xs-12" src="Images/baala.png"/>
			<div class="col-md-12 col-xs-12 subtitlefont">A full stack web developer</div>
		</div>
	</div>
		<div ng-controller="SkillsController" id="skills" style="padding-top:50px;background-image: url('Images/backgroundimage16.jpg');background-size:inherit;">
		<div class="container">
			<div class="h3 text-center">Skills</div>
			<div class="col-md-12 h4">Languages, Scripts &amp; Frameworks</div>
			<div ng-repeat="skill in SkillsList" ng-if="skill.Type == 'Languages, Scripts & Frameworks' " class="col-md-6">
				<div class="col-md-6">{{skill.Name}}</div>
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" ng-style="Style(skill.Rating)">
							{{skill.Rating}}/10
						</div>
					</div>
				</div>
			</div>
			

			<div class="col-md-12 h4">Cloud Services</div>
			<div ng-repeat="skill in SkillsList" ng-if="skill.Type == 'Cloud Services' " class="col-md-6">
				<div class="col-md-6">{{skill.Name}}</div>
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" ng-style="Style(skill.Rating)">
							{{skill.Rating}}/10
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 h4">Tools</div>
			<div ng-repeat="skill in SkillsList" ng-if="skill.Type == 'Tools' " class="col-md-6">
				<div class="col-md-6">{{skill.Name}}</div>
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" ng-style="Style(skill.Rating)">
							{{skill.Rating}}/10
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="row"></div>
	<div id="experience" style="padding-top:50px;">
		<div class="row gap">
			<div class="col-md-12 h3 text-center">Experience &amp; Projects</div>
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="col-md-3">
					<div class="col-md-12 text-center number">8</div>
					<div class="col-md-12 text-center">Projects</div>
					<div class="col-md-12 progressBar"></div>
				</div>
				<div class="col-md-3">
					<div class="col-md-12 text-center number">3.5</div>
					<div class="col-md-12 text-center">Years</div>
					<div class="col-md-12 progressBar"></div>
				</div>
				<div class="col-md-3">
					<div class="col-md-12 text-center number">15</div>
					<div class="col-md-12 text-center">Technologies</div>
					<div class="col-md-12 progressBar"></div>
				</div>
				<div class="col-md-3">
					<div class="col-md-12 text-center number">4</div>
					<div class="col-md-12 text-center">Awards</div>
					<div class="col-md-12 progressBar"></div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>

		<!--Totally Integrated Automation-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Totally Integrated Automation</strong>
				<div class="col-md-12">Nov 2017 - Till Date</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Totally Integrated Automation is a configuration tool which is used to configure and control energy devices. It is also used to program the PLCs and automate the industrial equipment.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">C#</span>
					<span class="label label-default">Windows Forms</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Develop new modules for the devices</div>
				<div class="col-md-9">Develop communication protocols for the new devices</div>
				<div class="col-md-9">Provide estimation report for the requirements</div>
				<div class="col-md-9">Export automation reports and device information</div>
				<div class="col-md-9">Managing the software build, release and deployment process</div>
				<div class="col-md-9">Fixing bugs and maintaining the existing functionality</div>
			</div>			
		</div>

		<!--StaticFix agent for C#-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">StaticFix Agent for C#</strong>
				<div class="col-md-12">May 2017 – Nov 2017</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">StaticFix agent is a visual studio extension which parses static analysis tool results and resolves them automatically. It also has a voice interface system through which the user can send commands to the agent through natural language. There is a web service version of staticfix which provides same functionalities through web interface.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">C#</span>
					<span class="label label-default">Windows Forms</span>
					<span class="label label-default">MVC</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Develop auto resolve solutions for the static analysis violations</div>
				<div class="col-md-9">Provide analytics based the parsed input and provide possible solutions</div>
				<div class="col-md-9">Manage the builds and deployment process</div>
			</div>			
		</div>

		<!-- Proespectus pro -->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Prospectus Pro</strong>
				<div class="col-md-12">June 2016 - May 2017</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Prospectus Pro is a powerful content management application which stores and manages your content in a central online repository. The details of the documents can be updated, reviewed and published for the display on web and for printing.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">ASP.NET</span>
					<span class="label label-default">ADO.NET</span>
					<span class="label label-default">JavaScript</span>
					<span class="label label-default">SQL Server</span>
					<span class="label label-default">Telerik Control</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Developing web pages based on the requirment</div>
				<div class="col-md-9">Providing estimation report for the requirements </div>
				<div class="col-md-9">Identifying areas for improvement in the application</div>
				<div class="col-md-9">Managing the software build, release and deployment process</div>
				<div class="col-md-9">Fixing bugs and maintaining the existing functionality</div>
				<div class="col-md-9">Played a major role in maintenance and enhancement of the project</div>	 
			</div>			
		</div>
		
		<!--Diabetes Nxt-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Diabetes Nxt</strong>
				<div class="col-md-12">October 2016 - January 2017</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Diabetic Nxt is a cloud based android application, which monitors the sugar and BP level of diabetic patients on a daily basis, and sends the report to the doctor periodically. Doctor can suggest medications for patients through Diabetes Nxt. Diabetic Nxt app ensures the health of diabetic patients</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">Android</span>
					<span class="label label-default">Cloudant DB (IBM Bluemix)</span>
					<span class="label label-default">Wastson Analytics (IBM Bluemix)</span>
					<span class="label label-default">Rest API</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Designing the architecture of the android application </div>
				<div class="col-md-9">Designing and developing android layouts</div>
				<div class="col-md-9">Implementing cloud and API connectivity to the application</div>
				<div class="col-md-9">Creating database and enabling connectivity through API using IBM Cloud Platform</div>
			</div>			
		</div>
		
		
		<!--Task Tracker-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Task Tracker</strong>
				<div class="col-md-12">January 2016 - July 2016</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Task Tracker is a task management tool where employees logs their daily activities and the efforts spent on those activities. The managers and the supervisors gets notified about the activity completion status periodically. In addition, Task Tracker also generates effective reports in the form of charts and tables which will be helpful for the management in evaluating the performance of an individual.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">Angular JS</span>
					<span class="label label-default">My SQL</span>
					<span class="label label-default">Web API</span>
					<span class="label label-default">JavaScript &amp; JSON</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Played an important role as a part of coding and development </div>
				<div class="col-md-9">Designing and developing webpages for the application </div>
				<div class="col-md-9">Managing and maintaining the code in GIT repository </div>
				<div class="col-md-9">Integrating data from back-end services and databases</div>
			</div>			
		</div>
		
		<!--COD-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Cost of Delivery Tracker</strong>
				<div class="col-md-12">December 2015 - May 2016</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Cost of Delivery Tracker is an analytical tool which consolidates and summarizes delivery cost of the software products.COD Tracker performs predictive analysis and generates an estimated forecast report for the forthcoming quarters. All the reports can be extracted in the form of charts and excel sheets.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">PHP</span>
					<span class="label label-default">JQuery</span>
					<span class="label label-default">Ajax</span>
					<span class="label label-default">My SQL</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Formulating the analysis strategy for the tool </div>
				<div class="col-md-9">Collecting data and deriving information for the reports </div>
				<div class="col-md-9">Designing and developing webpages for the application </div>
				<div class="col-md-9">Managing and maintaining the code in GIT repository </div>
			</div>			
		</div>
		
		<!--Code Coverage-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Code Coverage</strong>
				<div class="col-md-12">September 2015 - November 2015</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Code coverage is a unit test coverage tool which analyzes the functionality of the code by executing the test cases. The tool makes use of the VSTest and MSTest extensions and generates coverage report out of it.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">C#</span>
					<span class="label label-default">Windows Forms</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Planning and implementing the architecture and design</div>
				<div class="col-md-9">Creating windows forms for the application</div>
				<div class="col-md-9">Integrating VSTest and MSTest command line utilities</div>
			</div>			
		</div>
		
		<!--Prospectus Go V2-->
		<div class="row gap">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<strong class="col-md-12">Prospectus Go V2</strong>
				<div class="col-md-12">June 2015 - May 2016</div>
			</div>
			<div class="col-md-8">
				<strong class="col-md-12">Description</strong>
				<div class="col-md-9 text-justify gap">Prospectus Go V2 is a next generation prospectus document template designer which creates documents for mutual funds, variable annuity, and retirement product providers, as well as broker/dealers and clearing firms with user defined templates.</div>
				<strong class="col-md-12">Technologies</strong>
				<div class="col-md-9 gap">
					<span class="label label-default">ASP.NET MVC</span>
					<span class="label label-default">JQuery</span>
					<span class="label label-default">Telerik Controls</span>
					<span class="label label-default">SQL Server</span>
					<span class="label label-default">Entity Framework</span>
				</div>
				<strong class="col-md-12">Responsibilities</strong>
				<div class="col-md-9">Played an important role in backend and frontend development </div>
				<div class="col-md-9">Integrating code coverage tool with Prospectus Go V2 application and ensuring the stability of the code </div>
				<div class="col-md-9">Contributed a major part for the preparation of test cases</div>
				<div class="col-md-9">Creating and maintaining application documentation</div>
			</div>			
		</div>
		
	</div>
	<div id="contact" style="height: 100%;padding-top:50px;background-image:url('Images/backgroundimage27.jpg');">
		<div class="h2 text-center col-md-12">Get In Touch</div>

		<div class="row h4 text-center col-md-12">
			Remember yesterday, focus on today, target tomorrow
		</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 col-xs-12 panel panel-default boxShadow">
				<div class="panel-body">
					<div class="col-md-8 container-fluid">
						<div class="col-md-12 h4">Leave a reply</div>
						<div class="form-group">
							<label class="col-md-2">Name:</label> <input class="form-control" id="name" type="text" />
							<label class="col-md-2">Company:</label> <input class="form-control" id="company" type="text" />
							<label class="col-md-2">Mail:</label> <input class="form-control" id="mail" type="text" />
							<label class="col-md-2">Comment:</label> <textarea class="form-control" id="comment"></textarea>
							<button type="button" class="col-md-2 col-xs-4 form-group btn btn-primary" style="float:right;" id="commentSubmit">Send</button>
						</div>
					</div>
					<div class="container col-md-4 col-xs-12" style="background-image: url('');">
						<div class="col-md-12 h4">Contact Information</div>
						<div class="row"><img class="col-md-2 col-xs-2" src="Images/phone.png">
							<div class="col-md-10 col-xs-10 gap">+91-9840043453</div>
						</div>
						<div class="row"><img class="col-md-2 col-xs-2" src="Images/phone.png">
							<div class="col-md-10 col-xs-10 gap">+91-8951074194</div>
						</div>
						<div class="row"><img class="col-md-2 col-xs-2" src="Images/email.png">
							<div class="col-md-10 col-xs-10">contactbalasrinivas@gmail.com</div>
						</div>
						<div class="gap"></div>
						<div class="row">
							<div class="col-md-1"></div>
							<a href="https://www.facebook.com/baala.srinivas.1"><img class="col-md-3 col-xs-4" src="Images/social icons/facebook.png"></a>
							<a href="https://plus.google.com/108571751072140896009"><img class="col-md-3 col-xs-4" src="Images/social icons/google.png"></a>
							<a href="https://www.linkedin.com/in/baala-srinivas-k-9b3b04a2/"><img class="col-md-3 col-xs-4" src="Images/social icons/linkedin.png"></a>
							<div class="col-md-1"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>

<script type="text/JavaScript">
$(document).ready(function(){
/*window.setInterval(function(){
  alert('Hello');
}, 10000);*/
});
</script>

<style>
	@keyframes rotateAnimation {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(360deg);
		}
	}
	.boxShadow {
		box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
	}
	.number {
		font-size: 32px;
		color: black;
		padding-bottom: 0px;
	}
	.progressBar {
		position: relative;
		height: 5px;
		background: #221F13;
		float: left;
		width: 100%;
		margin-top: 10px;
	}
	.gap {
		padding-bottom: 15px;
	}
	#skills {
		color: white;
	}
	.welcometextfont {
		color: white;
		font-family: 'Comfortaa', cursive;
		font-size: 24px;
	}
	.namefont {
		color: white;
		font-family: 'Lovers Quarrel', cursive;
		font-size: 72px;
	}
	.subtitlefont {
		color: white;
		font-family: 'Comfortaa', cursive;
		font-size: 24px;
	}
</style>

</html>
